*{
    margin: 0;
    padding: 0;
} 
 nav{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    text-align: center;
}
.lefside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.links a{
    text-decoration: none;
    padding: 4vh;
    color: black;
    font-size: 20px;
    font-weight: 500;
    
}
.links {
    width: 40%;
    justify-content: space-between;
    
}



#icon{
    font-size: 6vh;
    float: left;
    display: none;
    width: 20vh;
}

.menu{
    display: none;
    flex-direction: column;
    width: 15%;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 8vh;

}
.active{
    display: flex;
}
.menu a{
    text-decoration: none;
    text-align: left;
        color: black;
        font-size: 15px;
        font-weight: 500;
        
}

@media screen and  (max-width:575px) {
.acontainer{
    margin: auto;
    width: 65%;
}
#icon{
    display: flex;
    width: 10%;
}
.links a{
    display: none;
}


}